<header>
  <div class="menu">
      <nav role="navigation">
          <ul>
              <!-- <li><a href="#maincontent" class="skip-to-content">Skip to content</a></li> -->
              <li><a [routerLink]="['/']">Homepage</a></li>
              <li><a [routerLink]="['/about']" aria-label="Information about us">About</a></li>
              <li><a [routerLink]="['/login']">Login</a></li>
              <!-- <li><a [routerLink]="https://google.com" aria-label="External Link">Google</a></li> -->
          </ul>
      </nav>
  </div>
</header>
